<!-- templates/registration/password_reset_form.html -->

{% extends "core/base.html" %}
{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
  <h1>Забыли пароль?</h1>
  <p>Вставьте вашу электронную почту в форму ниже и мы пошлём на неё инструкции по восстановлению пароля</p>

  <form action="password_reset" method="post">
  {% csrf_token %}

  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}

    <p>{{ form.email }}</p>
    <input type="submit" value="Reset password">
  </form>
{% endblock %}
